
.containerStyles {
    height: 20;
    width: 100%;
    background-color: "#e0e0de";
    border-radius: 50;
    margin: 5;
}

.fillerStyles {
    height: '100%';
    border-radius: 'inherit';
    text-align: 'right';
}

.labelStyles {
    padding: 5;
    color: 'white';
    font-weight: 'bold';
}

