<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">



<title>Dashboard</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap" rel="stylesheet"> 
<link href="{{ static_url("IndexDataset.css") }}" rel="stylesheet"> 
</head>
<body>
<div id="root">
</div>

<script type="text/javascript"  src="{{ static_url("IndexDataset.js") }}"></script>
</body>
</html>
